@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body,
body * {
  margin: 0;
  font-family: "Bree Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
  outline: none;
  font-size: 24px;
}

#root {
  --black: #292929;
  --black2: #1f1f1f;
  --white: #e5f4e3;
  --green: #069e2d;
  --red: #db504a;
  --background: #0f0f0f;
  --yellow: #e3b505;
}

.App {
  height: 100vh;
  background-color: var(--background);
  padding: 16px;
  box-sizing: border-box;
  display: flex;
}

.svg-pencil,
.svg-trash,
.svg-plus,
.svg-paste {
  padding: 2px 0 0 0;
  transition: 0.2s;
  padding: 0;
  width: 24px;
  height: 24px;
}

.svg-paste {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

.svg-pencil:hover,
.svg-trash:hover,
.svg-plus:hover,
.svg-paste:hover {
    transition: 0.2s;
    cursor: pointer;
}

.svg-pencil:hover {
  color: var(--yellow);
}

.svg-trash:hover {
  color: var(--red);
}

.svg-plus:hover {
    color: var(--green);
}

.svg-paste:hover {
    color: var(--yellow);
}

.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#left-column {
  background: var(--black);
  width: 12%;
  height: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--white);
  padding: 12px;
}

.semester-element-wrapper {
    display: flex;
    align-items: center;
}

.semester-element-wrapper .svg-trash {
    margin-left: 4px;
    width: 28px;
    height: 28px;
}

.semester {
  background: var(--background);
  color: var(--white);
  font-size: 20px;
  border-radius: 8px;
  margin: 8px 0;
  padding: 4px 8px;
  transition: 0.3s;
  flex-grow: 1;
}

.semester.selected {
  translate: -3px -3px;
  box-shadow: 1px 1px 10px var(--white);
}

.semester:hover {
  transition: 0.3s;
  translate: -3px -3px;
  cursor: pointer;
}

#semester-svg {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

#semester-svg .svg-plus {
    color: var(--green);
}

#semester-svg .svg-trash {
    color: var(--red);
}

#right-wrapper {
  flex-grow: 1;
  margin-left: 16px;
}

#title-bar {
  display: flex;
  align-items: center;
  background: var(--black);
  width: 100%;
  border-radius: 8px;
}

#title-bar-text {
  text-align: center;
  color: var(--white);
  font-size: 40px;
  padding: 4px;
  flex: 1;
}

#return-button {
  color: var(--white);
  width: 48px;
  height: 48px;
  margin-left: 12px;
  transition: 0.3s;
}

#return-button:hover {
  cursor: pointer;
  transition: 0.3s;
  translate: -4px -4px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  margin-left: -8px;
}

.course-list,
#course-info {
  padding: 8px;
}

.course-block {
  border-radius: 24px;
  background: var(--black);
  width: 240px;
  height: 240px;
  margin: 8px;
  color: var(--white);
  padding: 8px;
  text-align: center;
  font-size: 24px;
  transition: 0.3s;
}

.course-block:hover {
  transition: 0.3s;
  cursor: pointer;
  translate: -4px -4px;
  box-shadow: 4px 4px 8px var(--black);
}

#course-header {
  box-sizing: border-box;
  color: var(--white);
  margin: 8px;
  width: calc(100% - 16px);
  background: var(--black2);
  border-radius: 8px;
  font-size: 32px;
  padding: 4px 12px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.course-header-svg * {
    padding: 0;
    width: 36px;
    height: 36px;
}

.course-header-svg {
    display: flex;
    align-items: center;
}

.course-header-svg .svg-plus {
    color: var(--green);
}

.course-header-svg .svg-pencil {
    color: var(--yellow);
}

.course-header-svg .svg-trash {
    color: var(--red);
}

.course-group {
  color: var(--white);
  box-sizing: border-box;
  margin: 8px;
  font-size: 24px;
}

.course-group-header {
  background: var(--black2);
  padding: 4px 12px 4px 6px;
  display: flex;
  justify-content: space-between;
}

.course-group-header-right,
.course-group-header-svg {
    display: flex;
    align-items: center;
}

.course-group-header:hover {
    cursor: pointer;
}

.course-group-header-name::before {
    content: '▶ ';
}

.course-group-grade {
  background: var(--black2);
  font-size: 18px;
  margin: 2px;
  padding: 2px 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.course-group-grade-right {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}

.course-group-grade-fraction {
  text-align: right;
  width: 9rem;
}

.course-group-grade-percent {
  text-align: right;
  margin: 0 12px;
  width: 4rem;
}

.menu {
  z-index: 3;
  position: fixed;
  width: 350px;
  top: 30%;
  left: calc(50% - 150px);
  color: var(--white);
  background-color: var(--black);
  padding: 16px;
  padding-top: 0;
  border-radius: 16px;
  font-size: 24px;
  transition: 0.3s;
}

.hidden {
    transition: 0.3s;
    scale: 0;
}

.popup-title {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 28px;
}

.course-scheme-list-menu-row,
.course-final-calculator-menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
}

.course-scheme-list-menu .popup-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.course-scheme-list-menu svg {
    padding: 0;
    height: 33px;
    width: 33px;
}

.course-scheme-list-menu-row-text.active-scheme {
    color: var(--yellow);
}

.course-scheme-info-menu {
    width: 500px;
}

.course-scheme-info-menu .popup-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.course-scheme-info-menu svg {
    width: 34px;
    height: 34px;
}

.course-scheme-info-menu-row {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
}

.course-scheme-info-menu-weight,
.course-scheme-info-menu-drop {
    flex: 1;
    text-align: center;
}

.course-scheme-info-menu-group {
    text-align: center;
    flex: 2;
}

.course-scheme-info-menu-text .editable {
    flex: 1;
    text-align: center;
    margin: 0 2px;
}

.course-scheme-info-menu-text .editable:first-child {
    flex: 2.2;
}

.course-scheme-info-menu-buttons.buttons {
    justify-content: space-around;
}

.name-right {
    margin: 4px 0 12px 0;
}

.name, 
.course-group-grade-edit-menu-grade,
.course-group-grade-edit-menu-grade-right,
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-group-grade-edit-menu-grade-left {
  margin: 24px 0px;
  margin-right: 16px;
}

.name-left {
  margin-right: 16px;
}

.editable {
  background-color: var(--white);
  padding: 8px;
  border-radius: 16px;
  color: var(--black);
  flex-grow: 1;
  text-align: right;
}

.course-group-grade-edit-menu-grade-right {
    display: flex;
    flex-grow: 1;
}

#course-group-grade-edit-menu-grade-right-possible,
#course-group-grade-edit-menu-grade-right-earned {
    width: 76px;
}

.course-group-grade-edit-menu-grade-right-slash {
  margin-left: 8px;
  margin-right: 8px;
}

.buttons div {
  border-radius: 16px;
  padding: 8px;
  background-color: var(--white);
  color: var(--black);
  margin-left: 30px;
  margin-right: 30px;
}

.buttons div:hover {
  cursor: pointer;
}

.course-final-calculator-menu-row {
    justify-content: space-around;
}

.course-final-calculator-menu .editable {
    flex-grow: 0;
}
